body{
	direction: __MSG_@@bidi_dir__;
	font: menu;
	color: #000;
	background-color: #fff;
	margin: 0;
	padding: 0;
	cursor: default;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	overflow: hidden;
	text-shadow: 0 1px #fff;
	width: 320px;
	height: 530px;
}
canvas{
	display: none;
}
#search{
	height: 30px;
	padding: 0 2px;
}
#search input{
	-webkit-box-sizing: border-box;
	width: 100%;
	margin: 2px 0;
	padding: 2px;
	font: menu;
}
#results,
#tree{
	position: absolute;
	left: 0;
	top: 30px;
	bottom: 0;
	background-color: #eee;
	width: 100%;
	overflow: auto;
	outline: 0;
}
#results ul,
#results ul li{
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}
#results ul li a{
	display: block;
	line-height: 22px;
	padding: 0 4px;
	text-decoration: none;
	color: #000;
	outline: 0;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#results ul li a img,
#results ul li span img{
	vertical-align: text-bottom;
	margin-__MSG_@@bidi_end_edge__: 4px;
}
#results ul li a i{
	font-style: normal;
}
#results ul li a:hover i{
	text-decoration: underline;
}
#results ul li a:active,
#results ul li a.active,
#results ul li a:focus{
	color: #fff;
	background-color: #5c93d5;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #4480c8),color-stop(.05, #5c93d5),color-stop(1, #1755ab));
	text-shadow: none;
}
.neat-tree ul,
.neat-tree ul li{
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}
.neat-tree ul ul{
	margin-__MSG_@@bidi_start_edge__: 16px;
	height: 0;
	overflow: hidden;
}
.neat-tree .open>ul{
	height: auto;
}
.neat-tree ul li a,
.neat-tree ul li span{
	display: block;
	line-height: 22px;
	padding: 0 4px;
	text-decoration: none;
	color: #000;
	outline: 0;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.neat-tree ul li a img,
.neat-tree ul li span img{
	vertical-align: text-bottom;
	margin-__MSG_@@bidi_end_edge__: 4px;
}
.neat-tree ul li a i{
	font-style: normal;
}
.neat-tree ul li a:hover i{
	text-decoration: underline;
}
.neat-tree ul li a:active,
.neat-tree ul li span:active,
.neat-tree ul li a.active,
.neat-tree ul li span.active,
.neat-tree ul li a:focus,
.neat-tree ul li span:focus{
	color: #fff;
	background-color: #5c93d5;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #4480c8),color-stop(.05, #5c93d5),color-stop(1, #1755ab));
	text-shadow: none;
}
@-webkit-keyframes blueFade {
	0% {
		background-color: transparent;
	}
	10%{
		background-color: rgba(43,93,205,.2);
	}
	100% {
		background-color: transparent;
	}
}
.neat-tree ul li a.focus,
.neat-tree ul li span.focus{
	-webkit-animation-name: blueFade;
	-webkit-animation-duration: 4s;
}
.context-menu{
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .3s;
	opacity: 0;
	margin: 0;
	padding: 5px 0;
	list-style: none;
	position: absolute;
	left: -999px;
	border: 1px solid #bbb;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: rgba(255,255,255,.96);
	box-shadow: 0 2px 6px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);
	outline: 0;
}
.context-menu li{
	padding: 0 10px;
	line-height: 22px;
	text-shadow: none;
}
.context-menu li:not(.separator):focus{
	color: #fff;
	background-color: #5c93d5;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #4480c8),color-stop(.05, #5c93d5),color-stop(1, #1755ab));
	outline: 0;
}
.context-menu li.separator{
	padding: 0;
	height: 1px;
	margin: 2px 0;
	background-color: #eee;
}

#resizer{
	border-@@bidi_start_edge__: 1px solid #fff;
	border-@@bidi_end_edge__: 1px solid #bbb;
	width: 3px;
	height: 16px;
	position: absolute;
	__MSG_@@bidi_start_edge__: 1px;
	bottom: 1px;
	cursor: w-resize;
	opacity: 0;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .3s;
}

#resizer:before{
	content: '';
	display: block;
	position: absolute;
	__MSG_@@bidi_start_edge__: 0;
	top: 0;
	width: 1px;
	height: 16px;
	background-color: #bbb;
}

#resizer:after{
	content: '';
	display: block;
	position: absolute;
	__MSG_@@bidi_end_edge__: 0;
	top: 0;
	width: 1px;
	height: 16px;
	background-color: #fff;
}

body:hover #resizer{
	opacity: 1;
}

#cover{
	position: absolute;
	top: 0;
	left: -100%;
	bottom: 0;
	width: 100%;
	opacity: 0;
	background-color: rgba(255,255,255,.5);
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .3s;
}

.needConfirm #cover{
	left: 0;
	opacity: 1;
}

#confirm-dialog{
	position: absolute;
	top: -100px;
	left: 0;
	right: 0;
	opacity: 0;
	background-color: #fff;
	padding: 1em;
	-webkit-transition-property: opacity, top;
	-webkit-transition-duration: .3s;
	-webkit-box-shadow: 0 0 100px rgba(0,0,0,.1);
	box-shadow: 0 0 100px rgba(0,0,0,.1);
	font: message-box;
}

#confirm-dialog-text{
	padding: 0;
	margin: 0 0 1em;
	font-size: 13px;
	line-height: 1.4em;
}

#confirm-dialog .buttons{
	text-align: __MSG_@@bidi_end_edge__;
}

#confirm-dialog .buttons button{
	padding: .3em 1.5em;
}

.needConfirm #confirm-dialog{
	top: 0;
	opacity: 1;
}